body, html, .wrapper, .map-holder{
	width: 100%;
	height: 100%;
	margin:0;
}

*{
  font-family: Segoe UI;
}

a{
  text-decoration: none !important;
  color: #2196F3;
  border-bottom: 1px solid #2196F3;
}

.wrapper{
	position: relative;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
}

.left-panel ul{
  margin:0;
  padding: 0;
}

.left-panel li{
  list-style: none;
  padding: 0px 0px;
  color: #777;
}

.left-panel li:hover{
  color: #4285F4;
  cursor: pointer;
}

.left-panel li i{
  vertical-align: middle;
  margin-right: 0px;
}

.left-panel-holder {
	left: 0;
	top: 0;
	width: 325px;
    height: 100%;
    z-index: 999;
    position: absolute;
    padding: 0px;
    box-sizing: border-box;
    transition:.5s;
}

.left-panel-closed .left-panel-holder{
	left: -325px;
}

.left-panel{
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 29px -8px #000;
	background: rgba(255, 255, 255, 0.79);
	padding: 20px;
  overflow: auto;
  box-sizing: border-box;
  transition:.5s;
}

.left-panel-holder:hover .left-panel{
	background: rgba(255, 255, 255, 1);
}

.top {
    width: 100%;
    height: 100%;
}



.left-panel-closed .bottom{
	padding: 30px;
}



.left-panel-closed .left-panel-holder  .close-btn{
	right: -90px;
}

.left-panel-holder i{
	transition:.5s;
}

.left-panel-closed .left-panel-holder i{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}


